.awe-section-1 {
    background: #f5f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .awe-section-2 {
    background: white;
    margin-bottom: 20px;
  }
  .awe-section-3 {
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  .chinh_giua {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.5rem;
  }
  .bottom_text {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.5rem;
  }
  .widget {
    text-align: center;
  }
  .cf-sec {
    padding-top: 20px;
  }
  .cf-b {
    margin: 15px 0;
  }
  .cf-b .cf-txt {
    float: right;
    width: calc(100% - 80px);
  }
  .cf-b .cf-txt .cf-title {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .cf-b .cf-txt .cf-desc {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .cf-b img {
    width: 70px;
    float: left;
  }
  .item-info {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .desc {
    text-align: justify;
  }
  .price {
    font-size: 40px;
    font-weight: bolder;
    color: red;
  }
  .gallery_sec {
    padding: 20px 0;
    background: #1c1c1c;
    text-align: center;
  }
  .gallery_sec .awe-section-1 {
    background: #f5f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gallery_sec .awe-section-2 {
    background: white;
    margin-bottom: 20px;
  }
  .gallery_sec .awe-section-3 {
    margin-bottom: 20px;
  }
  .gallery_sec img {
    width: 100%;
  }
  .gallery_sec .chinh_giua {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.5rem;
  }
  .gallery_sec .bottom_text {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.5rem;
  }
  .gallery_sec .widget {
    text-align: center;
  }
  .gallery_sec .cf-sec {
    padding-top: 20px;
  }
  .gallery_sec .cf-b {
    margin: 15px 0;
  }
  .gallery_sec .cf-b .cf-txt {
    float: right;
    width: calc(100% - 80px);
  }
  .gallery_sec .cf-b .cf-txt .cf-title {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .gallery_sec .cf-b .cf-txt .cf-desc {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .gallery_sec .cf-b img {
    width: 70px;
    float: left;
  }
  .gallery_sec .item-info {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .gallery_sec .title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .gallery_sec .desc {
    text-align: justify;
  }
  .gallery_sec .price {
    font-size: 40px;
    font-weight: bolder;
    color: red;
  }
  .gallery_sec .gallery_sec {
    padding: 20px 0;
    background: #1c1c1c;
    text-align: center;
  }
  .gallery_sec .gallery_sec .g-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .gallery_sec .g-item {
    margin: 10px 0;
  }
  .gallery_sec .g-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .g-item {
    margin: 10px 0;
  }
  